@import '../../../../shared.scss';

.ticket-container{
  display: grid;
  width: 100%;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 1fr auto;
  grid-row-gap: 6px;
}

.ticket-image{
  grid-row: 1;
  grid-column: 1;
  height: 32px;
  width: 32px;
  border-radius: 4px;
  align-self: center;
}

.ticket-details{
  grid-row: 1;
  grid-column: 2/span 3;
  margin-left: 6px;
}

.ticket-name{
  font-weight: 500;
}

.ticket-description{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: gray;
}

.ticket-shortname{
  grid-row: 2;
  grid-column: 1/span 2;
  align-self: center;
}

.ticket-number-container{
  grid-row: 2;
  grid-column: 3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.ticket-number{
  background-color: lightgrey;
  // padding-left: 4px;
  // padding-right: 4px;
  padding: 2px 4px;
  border-radius: 4px;
}

